@import 'init.scss';
@import 'font.scss';

body {
	font-family: 'Untitled-light', Helvetica, sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #1c1c1c;
	position: relative;
}

.scene {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	.vignet {
		box-shadow: inset 0 0 100px rgba(0, 0, 0, 30%);
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		pointer-events: none;
	}

	.subtitle-container {
		position: absolute;
		width: 100vw;
		bottom: 5vh;
		font-size: 1.3vw;
		display: block;
		z-index: 1;
		color: white;

		p {
			//box-shadow: inset 0 0 100px rgba(0,0,0,50%);
			text-align: center;
		}
	}

	.next-btn {
		display: none;
		$color: white;
		font-size: 20px;
		border: 2px solid $color;
		color: $color;
		padding: 1em;
		cursor: pointer;
		z-index: 1;
		background-color: black;
		position: relative;

		&:hover {
			background-color: rgb(200, 200, 200);
		}
	}
}

//first screen
.intro-screen {
	position: absolute;
	z-index: 10;

	.container {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(8, 1fr);
		background-color: #e5e5e5;
		font-family: 'Untitled-light', Arial, Helvetica, sans-serif;
	}

	.item1 {
		position: relative;
		grid-column: 1 / 8;
		grid-row: 1 / 3;
		border: solid 2px;
		border-top: none;
		border-left: none;
	}

	.Square {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 64px;
		margin: auto;
	}
	.info {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
	}
	.experience {
		width: 350vw;
		span {
			animation: move 9s linear infinite;
			display: inline-block;
		}
	}


	@keyframes move {
		0% {
			transform: translate3d(-24.5%, 0, 0);
		}
		100% {
			transform: translate3d(-50%, 0, 0);
		}
	}

	.notif-son {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: left;
		width: 100%;
		height: 100%;
		margin-left: 10px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.item2 {
		background-color: #2569cc;
		grid-column: 8/11;
		grid-row: 1/2;
		overflow: hidden;
	}
	.item3 {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 8px;
		grid-column: 11/13;
		grid-row: 1;
		border: solid 2px;
		border-top: none;
		border-right: none;
	}

	.item4 {
		overflow: hidden;
		grid-column: 11/13;
		grid-row: 8/9;
		background-color: crimson;
	}

	.item6 {
		overflow: hidden;
		position: relative;

		grid-column: 1/11;
		grid-row: 4/6;
		border: solid 2px;
		border-right: none;
		border-left: none;
		font-family: 'Untitled-light';
		font-size: 64px;

		&:hover {
			animation-play-state: paused;
		}
	}

	.item7 {
		font-family: Arial, Helvetica, sans-serif;
		overflow: hidden;
		grid-column: 11/13;
		grid-row: 4/9;
		border: solid 2px;
		border-right: none;
		border-bottom: none;
		padding-top: 20px;
		padding-bottom: 100px;
	}
	.item7 ul {
		font-size: 14px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	li {
		list-style: none;
	}
	.item8 {
		font-size: 14px;
		overflow: hidden;
		grid-column: 3/11;
		grid-row: 8/9;
		border: solid 2px;
		border-right: none;
		border-bottom: none;
	}

	.yellow {
		background-color: #e4c557;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 10%;
	}
}
