@import 'init.scss';
@import 'font.scss';

body {
	font-family: Helvetica;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #1c1c1c;
	position: relative;

}

.scene {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	.vignet{
	  box-shadow: inset 0 0 100px rgba(0,0,0,30%);
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100vw;
	  height: 100vh;
	  z-index: 10;
	  pointer-events: none;
	}

	.subtitle-container {
		position: absolute;
		width: 100vw;
		bottom: 5vh;
		font-size: 1.3vw;
		display: block;
		z-index: 1;
		color: white;

		p {
			//box-shadow: inset 0 0 100px rgba(0,0,0,50%);
			text-align: center;
		}
	}

	.next-btn {
		display: none;
		$color: white;
		font-size: 20px;
		border: 2px solid $color;
		color: $color;
		padding: 1em;
		cursor: pointer;
		z-index: 1;
		background-color: black;
		position: relative;

			&:hover {
				background-color: rgb(200,200,200);
			}
	}
}


.loader {

	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;


	img {
		width: 20vw;
	}

	button {
		font-size: 20px;
		border: 2px solid black;
		padding: 1em;
		cursor: pointer;

		&:hover {
			background-color: rgb(200,200,200);
		}
	}
}